[flake8]

exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    settings.py,
    __init__.py,


ignore =
    # line too long
    E501,
    # import but not used
    F401,
    F811,
